/* Huvusakliga CSS-mallen,
det är bara att göra andra om man känner för det,
men det troliga är att vi bara behöver en. */

body {
    background-color: black;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: auto;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-info {
    background: #585858;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    background: #505050 !important;
}

.btn-info:active, .btn.active, .btn-info.active {
    background: #404040 !important;
    box-shadow: none;
}

.center {
    margin-top: 20%;
    margin-bottom: 20%;
}
