<!-- template som är tänkt att visas på startsidan.-->
<template name="start">
    <div class="container center-block center">
        <div class="row center-block">
            {{>loginButtons}}
        </div>
        <div class="col-lg-1 text-center h3">----------ELLER------------ //Temporärt, här ska en riktig avgränsare vara.</div>
        <span class="row"></span>
        <div class="col-lg-1">
            <button class="btn btn-primary btn-block center-block">Fortsätt utan inloggning</button>
        </div>
    </div>
</template>
